[submodule "src/fundamentals"]
	path = src/fundamentals
	url = https://github.com/mattneub/Programming-iOS-Book-Examples.git
[submodule "src/cookbook"]
	path = src/cookbook
	url = https://github.com/oreillymedia/iOS_7_Programming_Cookbook.git
[submodule "src/code4app/1.guide/EAIntroView"]
	path = src/code4app/1.guide/EAIntroView
	url = https://github.com/ealeksandrov/EAIntroView.git
[submodule "src/code4app/1.guide/WSCoachMarksView"]
	path = src/code4app/1.guide/WSCoachMarksView
	url = https://github.com/workshirt/WSCoachMarksView.git
[submodule "src/code4app/1.guide/iPhone-IntroductionTutorial"]
	path = src/code4app/1.guide/iPhone-IntroductionTutorial
	url = https://github.com/MatthewYork/iPhone-IntroductionTutorial.git
[submodule "src/code4app/1.guide/DRDynamicSlideShow"]
	path = src/code4app/1.guide/DRDynamicSlideShow
	url = https://github.com/Dromaguirre/DRDynamicSlideShow.git
[submodule "src/code4app/1.guide/JazzHands"]
	path = src/code4app/1.guide/JazzHands
	url = https://github.com/IFTTT/JazzHands.git
[submodule "src/code4app/1.guide/EMHint"]
	path = src/code4app/1.guide/EMHint
	url = https://github.com/mcconkiee/EMHint.git
[submodule "src/code4app/1.guide/MDCFocusView"]
	path = src/code4app/1.guide/MDCFocusView
	url = https://github.com/modocache/MDCFocusView.git
[submodule "src/code4app/1.guide/MYBlurIntroductionView"]
	path = src/code4app/1.guide/MYBlurIntroductionView
	url = https://github.com/MatthewYork/MYBlurIntroductionView.git
[submodule "src/code4app/2.chat/ChatMessageTableViewController"]
	path = src/code4app/2.chat/ChatMessageTableViewController
	url = https://github.com/EvoRobin/ChatMessageTableViewController.git
[submodule "src/code4app/2.chat/BubbleThingie"]
	path = src/code4app/2.chat/BubbleThingie
	url = https://github.com/tkirby/BubbleThingie.git
[submodule "src/code4app/2.chat/StyledChatDemo"]
	path = src/code4app/2.chat/StyledChatDemo
	url = https://github.com/xxhp/StyledChatDemo.git
[submodule "src/code4app/2.chat/MessagesTableViewController"]
	path = src/code4app/2.chat/MessagesTableViewController
	url = https://github.com/jessesquires/MessagesTableViewController.git
[submodule "src/code4app/2.chat/UIBubbleTableView"]
	path = src/code4app/2.chat/UIBubbleTableView
	url = https://github.com/AlexBarinov/UIBubbleTableView.git
[submodule "src/SDWebImage"]
	path = src/SDWebImage
	url = https://github.com/rs/SDWebImage.git
